.comment{
    margin-top: 10px;
    display: block;
    padding: 2% 2% 2% 2%;
    border: 1px solid LightGrey;

}

.comment-li{
    margin-bottom: 10px;
    display: block;
    padding: 2% 2% 2% 2%;
    border: 1px solid LightGrey;
}

.author{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    font-size: 20px;
    line-height: 1.8;
}

.text{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    color: darkslategrey;
}

.modal{
    display: block;
    padding: 2% 2% 2% 2%;
    border: 1px solid LightGrey;
}

.hide{
    display: none;
}

.modal-author{
    display: inline-block;
    height:20px;
    width:65%;
    border-radius:2px;
    margin-left:60px;
    padding-left:10px;
}

.modal-text{
    width:65%;
    border-radius:2px;
    margin-left:60px;
    padding-left:10px;
}

.btn-comment{
    display: table;
    border-radius: 6px;
    width: 100px;
    text-align: center;
    font-size: 15px;
    height: 30px;
    border: 1px solid LightGrey;
    background-color: deepskyblue;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-close{
    border-radius: 6px;
    width: 100px;
    text-align: center;
    font-size: 15px;
    height: 30px;
    border: 1px solid LightGrey;
    border-radius: 6px;
    background-color: deepskyblue;
    color: white;
}

.btn-submit{
    border-radius: 6px;
    width: 100px;
    text-align: center;
    font-size: 15px;
    height: 30px;
    border: 1px solid LightGrey;
    border-radius: 6px;
    background-color: deepskyblue;
    color: white;
}

h3{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-bottom: 60px;
    margin-bottom: 40px;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 98%;
    line-height: 150%;
    color: goldenrod;
}
